In [1]:
import sqlite3
import time
import io
import shutil

added_department_id = False
added_index_on_name = False

In [2]:
### Assignment 1: Creating and Connecting to a Database

# 1. Write a Python function to create a new SQLite3 database named `test.db`.
# 2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department`
# (text) in the `test.db` database.

def get_connect_to_sqlite3():
    connection = sqlite3.connect('test.db')
    return connection

def create_table_employees(connection, cursor):
    cursor.execute(
        '''
            CREATE TABLE IF NOT EXISTS `employees` (
                `id` INTEGER NOT NULL,
                `name` TEXT NOT NULL,
                `age` INTEGER NOT NULL,
                `department` TEXT NOT NULL,
                PRIMARY KEY (`id` AUTOINCREMENT)
            );
        '''
    )
    connection.commit()

connection = get_connect_to_sqlite3()
cursor     = connection.cursor()

create_table_employees(connection, cursor)

In [3]:
### Assignment 2: Inserting Data

# 1. Write a Python function to insert a new employee into the `employees` table.
# 2. Insert at least 5 different employees into the `employees` table.

def insert_employee(connection, cursor, employee_data):
    cursor.execute(
        f'''
            INSERT INTO `employees` (`name`, `age`, `department`)
            VALUES (
                '{employee_data[0]}',
                {employee_data[1]},
                '{employee_data[2]}'
            );
        '''
    )
    connection.commit()

employee_list = [
    ('John', 28, 'IT'),
    ('Maria', 25, 'IT'),
    ('Sarah', 35, 'Marketing'),
    ('Susan', 29, 'Sales'),
    ('Paul', 40, 'Sales'),
    ('Daniel', 31, 'Support'),
]

for employee in employee_list:
    insert_employee(connection, cursor, employee)

In [4]:
### Assignment 3: Querying Data

# 1. Write a Python function to fetch and display all records from the `employees` table.
# 2. Write a Python function to fetch and display all employees from a specific department.

def get_and_display_data(connection, cursor):
    res = cursor.execute(
        '''
            SELECT * FROM `employees`;
        '''
    )
    rows = res.fetchall()

    for row in rows:
        print(row)

get_and_display_data(connection, cursor)

(2, 'Maria', 60, 'IT', None)
(3, 'Sarah', 100, 'Marketing', None)
(4, 'Susan', 29, 'Marketing', None)
(5, 'Paul', 40, 'Sales', None)
(6, 'Daniel', 31, 'Support', None)
(7, 'John', 32, 'Marketing', None)
(8, 'Sarah', 28, 'Management', None)
(9, 'Claude', 36, 'IT', None)
(10, 'Michael', 34, 'Sales', 0)
(11, 'John', 28, 'IT', None)
(12, 'Maria', 25, 'IT', None)
(13, 'Sarah', 35, 'Marketing', None)
(14, 'Susan', 29, 'Sales', None)
(15, 'Paul', 40, 'Sales', None)
(16, 'Daniel', 31, 'Support', None)
(17, 'John', 32, 'Marketing', None)
(18, 'Sarah', 28, 'Management', None)
(19, 'Claude', 36, 'IT', None)
(20, 'John', 28, 'IT', None)
(21, 'Maria', 25, 'IT', None)
(22, 'Sarah', 35, 'Marketing', None)
(23, 'Susan', 29, 'Sales', None)
(24, 'Paul', 40, 'Sales', None)
(25, 'Daniel', 31, 'Support', None)

In [5]:
### Assignment 4: Updating Data

# 1. Write a Python function to update the department of an employee based on their `id`.
# 2. Update the department of at least 2 employees and display the updated records.

def update_employee(connection, cursor, id, department):
    cursor.execute(
        f'''
            UPDATE `employees` SET `department`= '{department}' WHERE `id` = {id};
        '''
    )
    connection.commit()

update_employee(connection, cursor, 4, 'Marketing')
update_employee(connection, cursor, 1, 'Management')
get_and_display_data(connection, cursor)

(2, 'Maria', 60, 'IT', None)
(3, 'Sarah', 100, 'Marketing', None)
(4, 'Susan', 29, 'Marketing', None)
(5, 'Paul', 40, 'Sales', None)
(6, 'Daniel', 31, 'Support', None)
(7, 'John', 32, 'Marketing', None)
(8, 'Sarah', 28, 'Management', None)
(9, 'Claude', 36, 'IT', None)
(10, 'Michael', 34, 'Sales', 0)
(11, 'John', 28, 'IT', None)
(12, 'Maria', 25, 'IT', None)
(13, 'Sarah', 35, 'Marketing', None)
(14, 'Susan', 29, 'Sales', None)
(15, 'Paul', 40, 'Sales', None)
(16, 'Daniel', 31, 'Support', None)
(17, 'John', 32, 'Marketing', None)
(18, 'Sarah', 28, 'Management', None)
(19, 'Claude', 36, 'IT', None)
(20, 'John', 28, 'IT', None)
(21, 'Maria', 25, 'IT', None)
(22, 'Sarah', 35, 'Marketing', None)
(23, 'Susan', 29, 'Sales', None)
(24, 'Paul', 40, 'Sales', None)
(25, 'Daniel', 31, 'Support', None)

In [6]:
### Assignment 5: Deleting Data

# 1. Write a Python function to delete an employee from the `employees` table based on their `id`.
# 2. Delete at least 1 employee and display the remaining records.

def delete_employee(connection, cursor, id):
    cursor.execute(
        f'''
            DELETE FROM `employees` WHERE `id` = {id};
        '''
    )
    connection.commit()

delete_employee(connection, cursor, 1)
get_and_display_data(connection, cursor)

(2, 'Maria', 60, 'IT', None)
(3, 'Sarah', 100, 'Marketing', None)
(4, 'Susan', 29, 'Marketing', None)
(5, 'Paul', 40, 'Sales', None)
(6, 'Daniel', 31, 'Support', None)
(7, 'John', 32, 'Marketing', None)
(8, 'Sarah', 28, 'Management', None)
(9, 'Claude', 36, 'IT', None)
(10, 'Michael', 34, 'Sales', 0)
(11, 'John', 28, 'IT', None)
(12, 'Maria', 25, 'IT', None)
(13, 'Sarah', 35, 'Marketing', None)
(14, 'Susan', 29, 'Sales', None)
(15, 'Paul', 40, 'Sales', None)
(16, 'Daniel', 31, 'Support', None)
(17, 'John', 32, 'Marketing', None)
(18, 'Sarah', 28, 'Management', None)
(19, 'Claude', 36, 'IT', None)
(20, 'John', 28, 'IT', None)
(21, 'Maria', 25, 'IT', None)
(22, 'Sarah', 35, 'Marketing', None)
(23, 'Susan', 29, 'Sales', None)
(24, 'Paul', 40, 'Sales', None)
(25, 'Daniel', 31, 'Support', None)

In [7]:
### Assignment 6: Advanced Queries

# 1. Write a Python function to fetch and display employees older than a certain age.
# 2. Write a Python function to fetch and display employees whose names start with a specific letter.

def get_employee_above_age(connection, cursor, age):
    res = cursor.execute(
        f'''
            SELECT * FROM `employees` WHERE `age` > {age};

        '''
    )
    rows = res.fetchall()

    for row in rows:
        print(row)

def get_employee_with_start_letter(connection, cursor, letter):
    res = cursor.execute(
        f'''
            SELECT * FROM `employees` WHERE `name` LIKE '{letter}%';

        '''
    )
    rows = res.fetchall()

    for row in rows:
        print(row)

get_employee_above_age(connection, cursor, 30)
start_time = time.time()
get_employee_with_start_letter(connection, cursor, 'D')
end_time = time.time()
delta_time = end_time - start_time
print(delta_time)

(2, 'Maria', 60, 'IT', None)
(3, 'Sarah', 100, 'Marketing', None)
(5, 'Paul', 40, 'Sales', None)
(6, 'Daniel', 31, 'Support', None)
(7, 'John', 32, 'Marketing', None)
(9, 'Claude', 36, 'IT', None)
(10, 'Michael', 34, 'Sales', 0)
(13, 'Sarah', 35, 'Marketing', None)
(15, 'Paul', 40, 'Sales', None)
(16, 'Daniel', 31, 'Support', None)
(17, 'John', 32, 'Marketing', None)
(19, 'Claude', 36, 'IT', None)
(22, 'Sarah', 35, 'Marketing', None)
(24, 'Paul', 40, 'Sales', None)
(25, 'Daniel', 31, 'Support', None)
(6, 'Daniel', 31, 'Support', None)
(16, 'Daniel', 31, 'Support', None)
(25, 'Daniel', 31, 'Support', None)
0.0010058879852294922

In [8]:
### Assignment 7: Handling Transactions

# 1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that
# if any insertion fails, none of the insertions are committed.
# 2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update
# fails, none of the updates are committed.

def insert_multiple_employees(conncection, cursor, employee_list):
    cursor.executemany(
        f'''
            INSERT INTO `employees` (`name`, `age`, `department`) VALUES (?, ?, ?);
        ''',
        employee_list
    )
    connection.commit()

employee_list = [
    ('John', 32, 'Marketing'),
    ('Sarah', 28, 'Management'),
    ('Claude', 36, 'IT'),
]

insert_multiple_employees(connection, cursor, employee_list)

def update_multiple_employee(connection, cursor, employee_ages):
    cursor.executemany(
        f'''
            UPDATE `employees` SET `age` = ? WHERE `id` = ?;

        ''',
        employee_ages
    )
    connection.commit()

employee_age_list = [
    (50, 1),
    (60, 2),
    (100, 3),
]

update_multiple_employee(connection, cursor, employee_age_list)
get_and_display_data(connection, cursor)

(2, 'Maria', 60, 'IT', None)
(3, 'Sarah', 100, 'Marketing', None)
(4, 'Susan', 29, 'Marketing', None)
(5, 'Paul', 40, 'Sales', None)
(6, 'Daniel', 31, 'Support', None)
(7, 'John', 32, 'Marketing', None)
(8, 'Sarah', 28, 'Management', None)
(9, 'Claude', 36, 'IT', None)
(10, 'Michael', 34, 'Sales', 0)
(11, 'John', 28, 'IT', None)
(12, 'Maria', 25, 'IT', None)
(13, 'Sarah', 35, 'Marketing', None)
(14, 'Susan', 29, 'Sales', None)
(15, 'Paul', 40, 'Sales', None)
(16, 'Daniel', 31, 'Support', None)
(17, 'John', 32, 'Marketing', None)
(18, 'Sarah', 28, 'Management', None)
(19, 'Claude', 36, 'IT', None)
(20, 'John', 28, 'IT', None)
(21, 'Maria', 25, 'IT', None)
(22, 'Sarah', 35, 'Marketing', None)
(23, 'Susan', 29, 'Sales', None)
(24, 'Paul', 40, 'Sales', None)
(25, 'Daniel', 31, 'Support', None)
(26, 'John', 32, 'Marketing', None)
(27, 'Sarah', 28, 'Management', None)
(28, 'Claude', 36, 'IT', None)

In [9]:
### Assignment 8: Creating Relationships

# 1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
# 2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
# 3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

cursor.execute(
    f'''
        CREATE TABLE IF NOT EXISTS `departments` (
            `id` INTEGER NOT NULL,
            `name` TEXT NOT NULL UNIQUE,
            PRIMARY KEY(`id` AUTOINCREMENT)
        );
    '''
)
connection.commit()

if added_department_id == False:
    cursor.execute(
        f'''
            ALTER TABLE `employees` ADD COLUMN `department_id` INTEGER REFERENCES `departments` (`id`)
        '''
    )
    connection.commit()
    added_department_id = True

def insert_department_and_employee(connection, cursor, department, employee_data, insert_department = False):
    if insert_department:
        cursor.execute(
            f'''
                INSERT INTO `departments`(`name`) VALUES ('{department}');

            '''
        )
        connection.commit()

    res = cursor.execute(
        f'''
            SELECT `id` FROM `departments` WHERE `name` = '{department}';

        '''
    )
    rows = res.fetchall()

    department_id = 0
    for row in rows:
        department_id = row[0]

    cursor.execute(
        f'''
            INSERT INTO `employees`(`name`, `age`, `department`, `department_id`) VALUES (
                '{employee_data[0]}',
                {employee_data[1]},
                '{employee_data[2]}',
                {department_id}
            );

        '''
    )
    connection.commit()

insert_department_and_employee(connection, cursor, 'Sales', ('Michael', 34, 'Sales'), False)
get_and_display_data(connection, cursor)

OperationalError: duplicate column name: department_id

In [ ]:
### Assignment 9: Indexing and Optimization

# 1. Create an index on the `name` column of the `employees` table.
# 2. Write a Python function to fetch and display all employees whose names start with a specific letter.
# Compare the performance with and without the index.

if added_index_on_name == False:
    cursor.execute(
        f'''
            CREATE INDEX `idx_name` ON `employees`(`name`);

        '''
    )
    connection.commit()
    added_index_on_name = True

start_time = time.time()
get_employee_with_start_letter(connection, cursor, 'D')
end_time = time.time()
delta_time = end_time - start_time
print(delta_time)

(6, 'Daniel', 31, 'Support', None)
0.0020110607147216797

In [ ]:
### Assignment 10: Backing Up and Restoring Data

# 1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
# 2. Write a Python function to restore the `test.db` database from the `backup.db` file.

def create_sql_backup(connection):
    with io.open('backup_test_db.sql', 'w') as p:
        for line in connection.iterdump():
            p.write('%s\n' % line)

    print('SQL Backup created successfully')

def create_backup():
    shutil.copy('test.db', 'backup_test.db')
    print('Backup created successfully')

def restore_db():
    shutil.copy('backup_test.db', 'test.db')
    print('Restored db successfully')

create_sql_backup(connection)
create_backup()
restore_db()
connection.close()

SQL Backup created successfully
Backup created successfully
Restored db successfully